<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #EB7A5C;"></span>
		<span class="sg-label">Accent</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #444;"></span>
		<span class="sg-label">Base</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">Heading</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A2A2A2;"></span>
		<span class="sg-label">Light-color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F3F3F3;"></span>
		<span class="sg-label">Light-background</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">Dark-background</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">Body-background</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">Border</span>
	</li>
</ul>