<i class="fa fa-bars"></i>
<i class="fa fa-angle-down"></i>
<i class="fa fa-angle-right"></i>
<i class="fa fa-angle-up"></i>
<i class="fa fa-phone"></i>
<i class="fa fa-map-marker"></i>
<i class="fa fa-desktop"></i>
<i class="fa fa-envelope"></i>
<i class="fa fa-twitter"></i>