/* =============== Headings ==================== */

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: normal;
  font-family: $heading-font;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: $h1-size;
  font-weight: 100;
}

h2 {
  font-size: $h2-size;
  font-weight: 100;
}

h3 {
  font-size: $h3-size;
  font-weight: 100;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

.heading {
  font {
    size: 1.8rem;
    weight: normal;
  }
}