// ============ Fonts =====================
// These are the primary fonts used on the site

// google fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,600,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

// font family
$body-font:         'Open Sans', sans-serif;
$heading-font:      'Open Sans', sans-serif;
$serif:             'Roboto Slab', serif;